::placeholder {
    color: #ffffff;
    opacity: 1;
    /* Firefox */
}

.newsletter {
    position: relative;
    overflow: hidden;
}

.newsletter::before {
    content: url('../../../assets/backgrounds/newsletter/bg2.svg');
    position: absolute;
    top: -650px;
    left: -80px;
}

.newsletter::after {
    content: url('../../../assets/backgrounds/newsletter/bg1.svg');
    position: absolute;
    bottom: -180px;
    right: -30px;
}